:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  background: rgb(252, 243, 223);
  background: radial-gradient(
    circle,
    rgba(252, 243, 223, 0.3290870488322718) 0%,
    rgba(189, 200, 207, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 1200px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 800px) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 0.6rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 0.4rem;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Spicy Rice", sans-serif;
  font-size: 1em;
  letter-spacing: 0.02em;
  margin: 0;
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 1200px) {
    min-width: 320px;
    min-height: 100vh;
    place-items: center;
  }
}

h1 {
  font-family: "Spicy Rice", sans-serif;
  font-size: 4.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;

  @media screen and (max-width: 1199px) {
    font-size: small;
    font-weight: 400;
    padding: 0.3em;
  }

  @media screen and (max-width: 800px) {
    font-size: x-small;
    font-weight: 200;
    padding: 0.2em;
  }
}
button:not(:disabled):hover {
  border-color: #646cff;
  color: #747bff;
}

button:disabled:hover {
  color: grey;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#game-history-chat-controls-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  #game-history-chat-controls-container {
    display: none; /* Hide on screens smaller than 1200px */
  }
}

#active-gameroom-outer-container {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
